{{- define "wechat.default.message" -}}
{{- $firingLen := (len .Alerts.Firing) -}}
{{- if gt $firingLen 0 -}}
【告警通知共计{{ $firingLen }}条】
{{- range $index, $alert := .Alerts.Firing }}
====================
告警主题: {{ $alert.Labels.alertingModelAliasName }}
告警级别: {{ if eq $alert.Labels.severity "warn" }}☆ 警告{{ else }}★ 严重{{ end }}
监控对象: {{ $alert.Labels.alertingTargetName }}({{ $alert.Labels.targetIP }})
管理节点: {{ $alert.Labels.sourceIP }}
告警代码: {{ $alert.Annotations.errorcode }}
开始时间: {{ $alert.StartsAt.Local.Format "2006-01-02 15:04:05" }}
告警详情: {{ $alert.Annotations.message | reReplaceAll  `<span>` "["| reReplaceAll `</span>` "]" }}
处理建议: {{ $alert.Annotations.suggest }}
{{- end -}}
{{- end -}}

{{- $reslovedLen := (len .Alerts.Resolved) -}}
{{- if gt $reslovedLen 0 -}}

【恢复通知共计{{ $reslovedLen }}条】
{{- range $index, $alert := .Alerts.Resolved }}
====================
告警主题: {{ $alert.Labels.alertingModelAliasName }}
告警级别: {{ if eq $alert.Labels.severity "warn" }}☆ 警告{{ else }}★ 严重{{ end }}
监控对象: {{ $alert.Labels.alertingTargetName }}({{ $alert.Labels.targetIP }})
管理节点: {{ $alert.Labels.sourceIP }}
告警代码: {{ $alert.Annotations.errorcode }}
开始时间: {{ $alert.StartsAt.Local.Format "2006-01-02 15:04:05" }}
结束时间: {{ $alert.EndsAt.Local.Format "2006-01-02 15:04:05" }}
告警详情: 在过去5m内没有持续触发该告警，因此告警被判定为已解决。
{{- end -}}
{{- end -}}
{{- end -}}